body {
    background-color:#ffb703;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    width:100vw;
    margin:2%
}

.span,.score {
    font-size: 2em;
}

.span {
    flex:0.7;
}

.score {
    background-color: black;
    color:#ffb703;
    flex-shrink: 1;
}

.header {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.new,.score-board,.help, .play-again {
    background-color: black;
    color:#ffb703;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
}
.help, .new, .play-again {
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s
}

.help:hover,.new:hover,.help:focus,.new:focus, .play-again:hover, .play-again:focus {
    border-color: white;
    color: #ffb703;
    box-shadow: 0 0.5em 0.5em -0.4em white;
    cursor: pointer;
}

.play-again {
    height:50px;
}
.score {
    vertical-align: middle;
}

.main-page {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.board {
    width: 720px;
    height: 720px;;
    display: flex;
    flex-wrap: wrap;
    border: 3px dashed black;
}
.cell {
    width:180px;
    height: 180px;;
    background-color: #ffb703;
    border: 3px dashed black;
    text-align:center;
    font-size: 50px;
    color:black;
    box-sizing: border-box;
}

.gameover {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    background-color: #ffb703;
    height: 500px;
    margin-top: 100px;
    border-radius: 10%;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
}

.gameover-text {
    font-size:50px;
    line-height: 2;
    margin-top: 10px;;
}
