body {
    background-color:#ffb703;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    width:100vw;
    margin:2%
}

.span,.score {
    font-size: 2em;
}

.span {
    flex:0.7;
}

.score {
    background-color: black;
    color:#ffb703;
    flex-shrink: 1;
}

.header {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.new,.score-board,.help {
    background-color: black;
    color:#ffb703;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
}
.help, .new {
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s
}

.help:hover,.new:hover,.help:focus,.new:focus {
    border-color: white;
    color: #ffb703;
    box-shadow: 0 0.5em 0.5em -0.4em white;
    cursor: pointer;
}

.score {
    vertical-align: middle;
}

.main-page {
    margin-top: 10%;
    width:90vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.board {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 9%;
}
.cell {
    width:200px;
    height: 200px;;
    background-color: #ffb703;
    border: 3px dashed black;
    text-align:center;
    font-size: 500%;
    color:black;
    box-sizing: border-box;
}

.direction {
    width:36vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 5%;
}

.direc {
    width:10vw;
    height: 10vw;
    font-size: 500%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.style2{
    background-color: #ffea00;
}

.style4{
    background-color: #ffdd00;
}
.style8{
    background-color: #ffd000;
}
.style16{
    background-color: #ffc300;
}
.style32{
    background-color: #ffb700;
}
.style64{
    background-color: #ffaa00;
}
.style128{
    background-color: #ffa200;
}
.style256{
    background-color: #ff9500;
}
.style512{
    background-color: #ff8800;
}
.style1024{
    background-color: #ff7b00;
}
.style2048{
    background-color: #ff7f00;
}